fastapi
uvicorn[standard]
python-dotenv
openai
pydantic
sqlmodel
psycopg2-binary
sqlalchemy
httpx
PyJWT
python-multipart
stripe>=12.0.0
reportlab
email-validator
python-jose[cryptography]
passlib[bcrypt]